@charset "UTF-8";

body {
  height: 100%;
}

.avatar,
.bio {
  width: 300px;
}

.bio {
  min-height: 400px;
  padding-bottom: 10px;
}

#eu {
  height: 150px;
  width: 125px;
}

main {
  flex-direction: column;
  height: auto;
}

header {
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  width: 90vw;
  text-align: center;
}

footer {
  padding-bottom: 10px;
}
